@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

}


#wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  min-width: 3000px;

  canvas {
    min-width: 3000px;
    width: 100vw !important;
    height: 200vh !important;
    position: relative;
  }
}

#peg {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid red;
}

.autocomplete {
  padding: .5rem;
  background: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: black;
  overflow-y: auto;
  scrollbar-width: thin;
  margin-top: -.75rem;

  >* {
    border-radius: 1rem;
    padding: 0.5rem;
  }

  >.selected {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

#movie-input {
  transition: padding-bottom 0.5s;

  &:focus,
  active {
    padding-bottom: 1rem;
  }

}

#movie-list {
  >li {

    * {
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }


    &:hover,
    :focus {
      label {
        transform: translateY(-2px);
      }
    }

    >#remove-button {

      &:hover,
      :focus {
        transform: translateY(-2px);
        filter: brightness(2);
      }
    }
  }
}